<p>Find specialized therapists for your child's needs:</p>
<ul>
    <li><a href="#">Speech Therapists</a></li>
    <li><a href="#">Occupational Therapists</a></li>
    <li><a href="#">Behavioral Therapists</a></li>
    <li><a href="#">Physical Therapists</a></li>
</ul>
